.feed{
    flex:0.6;
    margin:0 20px;

    
}
.feed__inputcontainer{
   background-color: white;
   padding: 10px;
   padding-bottom: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
}
.feed__input{
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 5px;
}
.feed__input>form{
display: flex;
width: 100%;
}
.feed__input>form>input{
    border: none;
   flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed__input>form>button{
    display: none;
}
.feed__inputOption{
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}
.tree{
    display: flex;
    align-items:flex-end;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 0;
    
}
.treechild{
display: flex;
margin-bottom: 24px;
}
.like{
    display: flex;
    margin-bottom: 24px;
}